<template>
  <svg viewBox="0 0 300 300" fill="none" id="svg">
    <path :d="hPath" stroke-width="20" stroke="red"></path>
    <path :d="mPath" stroke-width="30" stroke="orange"></path>
    <path :d="sPath" stroke-width="30" stroke="green"></path>
    <text x="150" y="150" dominant-baseline="middle" text-anchor="middle" fill="black" font-size="50" stroke="none">{{time.m}}</text>
  </svg>
</template>
<script>
const cos = Math.cos;
const sin = Math.sin;
const π = Math.PI;
const 𝓝 = 1.5 * π

const f_matrix_times = (( [[a,b], [c,d]], [x,y]) => [ a * x + b * y, c * x + d * y]);
const f_rotate_matrix = ((x) => [[cos(x),-sin(x)], [sin(x), cos(x)]]);
const f_vec_add = (([a1, a2], [b1, b2]) => [a1 + b1, a2 + b2]);

const f_svg_ellipse_arc = (([cx,cy],[rx,ry], [t1, Δ], φ ) => {
  /* [
  returns a SVG path element that represent a ellipse.
  cx,cy → center of ellipse
  rx,ry → major minor radius
  t1 → start angle, in radian.
  Δ → angle to sweep, in radian. positive.
  φ → rotation on the whole, in radian
  url: SVG Circle Arc http://xahlee.info/js/svg_circle_arc.html
  Version 2019-06-19
   ] */
  Δ = Δ % (2*π);
  const rotMatrix = f_rotate_matrix (φ);
  const [sX, sY] = ( f_vec_add ( f_matrix_times ( rotMatrix, [rx * cos(t1), ry * sin(t1)] ), [cx,cy] ) );
  const [eX, eY] = ( f_vec_add ( f_matrix_times ( rotMatrix, [rx * cos(t1+Δ), ry * sin(t1+Δ)] ), [cx,cy] ) );
  const fA = ( (  Δ > π ) ? 1 : 0 );
  const fS = ( (  Δ > 0 ) ? 1 : 0 );
  return ['M', sX, sY, 'A', rx, ry, φ / (2*π) * 360, fA, fS, eX, eY ].join(' ')
});
export default {
    props: {
        value: Number
    },
    computed: {
        time() {
            const t = this.value
            if (!t) return {s:0,m:0,h:0}
            return {
                h: ~~(t / 3600),
                m: ~~((t % 3600) / 60),
                s: ~~t % 60
            }
        },
        sPath() { // seconds
            return f_svg_ellipse_arc([150, 150], [50,50], [𝓝, this.time.s / 30 * π], 0)
        },
        mPath() { // minutes
            return f_svg_ellipse_arc([150, 150], [80,80], [𝓝, this.time.m / 6 * π], 0)
        },
        hPath() { // hours
            return f_svg_ellipse_arc([150, 150], [100,100], [𝓝, this.time.h / 12 * π], 0)
        }
    }
}
</script>
