<template>
    <panel-item :field="field">
        <template slot="value" v-if="field.value">
            <Clock :value="field.value" width="100" />
        </template>
    </panel-item>
</template>

<script>
import Clock from './Clock'
export default {
    props: ['resource', 'resourceName', 'resourceId', 'field'],
    components: { Clock }
}
</script>
