<template>
    <Clock :value="field.value" width="50" />
</template>

<script>
import Clock from './Clock'
export default {
    props: ['resourceName', 'field'],
    components: { Clock }
}
</script>
